#login-dialog {
  width: 360px;
  margin: -250px 0 0 -180px;
  w-width: 560px;
  x-margin: -250px 0 0 -280px;
  text-align: center;
}

#login-dialog .emblem {
  width: 62px;
  height: 64px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#login-dialog .tip {
  margin-bottom: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

#login-dialog .tip .text {
  display: inline-block;
  width: 235px;
  height: 75px;
  margin: 0;
  text-align: right;
}

#login-dialog .tip .text .strong {
  font-weight: bold;
}

#login-dialog .tip .cube-buddy {
  float: right;
}

#login-dialog .tip .cube-buddy.suli {
  width: 75px;
  height: 75px;
}

#login-dialog .controls {
  margin-bottom: 16px;
}

#login-dialog a {
  margin-top: 5px;
  font-size: 85%;
  font-weight: bold;
}

#login-dialog .btn-primary {
  margin-right: 6px;
}


#register-dialog {
  width: 410px;
  margin: -250px 0 0 -205px;
  w-width: 560px;
  x-margin: -250px 0 0 -280px;
  text-align: center;
}

#register-dialog .head {
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}

#register-dialog .head h4 {
  display: inline;
}

#register-dialog .head p {
  display: inline;
  margin-left: 6px;
  font-size: 120%;
  color: #6b6b6b;
}

#register-dialog .form-horizontal .control-group {
  margin-bottom: 8px;
}

#register-dialog .form-horizontal .control-label {
  width: 130px;
}

#register-dialog .form-horizontal .controls {
  margin-left: 140px;
  text-align: left;
}

#register-dialog .form-horizontal .controls:first-child {
  *padding-left: 140px;
}

#register-dialog .btn-primary {
  margin-top: 10px;
  margin-bottom: 4px;
  margin-right: 16px;
}

#register-dialog p.dlg-status {
  margin: 15px 10px 0 0;
}


.modal.error {
}

.modal.error .icon {
  float: left;
  width: 48px;
  height: 48px;
  margin: 0 10px 0 0;
  background-repeat: no-repeat;
  
  &.error {
    background-image: url('../img/error.png');
  }
  &.warning {
    background-image: url('../img/warning.png');
  }
  &.device {
    background: none;
  }
}

.modal.error .info {
  float: left;
  max-width: 450px;
  
  p {
    margin: 0 0 4px;
  }
  
  .description {
    font-weight: bold;
  }
}
