// Creates a rounded border around an element.
//
// @radius - Size of the circle radius.
//
// Compatibility untested.
.border-radius (@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
