.navbar {
  margin-bottom: 0;
  font-family: "Gotham", sans-serif;
  color: #6b6b6b;
  opacity: 1.0;
}

.navbar-inner {
  height: 59px;
}

.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}

.navbar .brand {
  width: 118px;
  height: 36px;
  margin: 9px 14px;
  padding: 0;
  background: url('../img/logo.png') no-repeat;
}

.navbar .credits .unit {
  font-size: 90%;
  color: #a9a9a9;
  text-transform: uppercase;
  x-text-transform: capitalize;
}