#shop-dialog {
  width: 560px;
}

#shop-dialog .wizard-body {
  height: 400px;
}

#shop-popover {
  width: 560px;
}

#shop-popover .wizard-body {
  height: 300px;
}

#shop-form [class*="span"] {
  margin-left: 20px;
}

#shop-form .control-label {
  font-weight: bold;
  font-size: 85%;
}

.products {
  margin: 0 20px;
}

.product {
  min-height: 64px;
  clear: both;
}

.product input {
  margin-top: 16px;
}

.product img {
  float: left;
  margin-left: 4px;
  margin-right: 8px;
}

.product .info {
  display: inline;
}

.product .title {
  margin: 0 0 4px 0;
}

.credit-card-types {
  text-align: right;
}

.credit-card-types img {
  width: 51px;
  height: 32px;
  margin: 0 4px;
}

.invoice {
  margin: 0 20px;
}

.invoice h4 {
  font-size: 100%;
  border-bottom: 1px solid #999;
}

.invoice .order {
  float: left;
  min-width: 230px;
  margin-right: 20px;
}

.invoice .payment-method {
  float: left;
}

.invoice .item {
  margin-bottom: 4px;
}

.invoice .item .title {
  display: inline;
}

.invoice .item .price {
  float: right;
}

.invoice .item .quantity {
  display: none;
  margin-top: -4px;
  font-size: 75%;
}

.invoice .tax {
  margin-top: 4px;
  margin-bottom: 4px;
}

.invoice .tax h5 {
  display: inline;
  font-weight: normal;
}

.invoice .tax .amount {
  float: right;
  border-top: 1px solid #ccc;
}

.invoice .total {
  border-top: 1px solid #ccc;
}

.invoice .total h5 {
  display: inline;
}

.invoice .total .amount {
  float: right;
}

.invoice .credit-card {
  margin-bottom: 10px;
}

.invoice .credit-card h5 {
  margin: 0;
}

.invoice .billing-address h5 {
  margin: 0;
}

.purchased {
  margin-top: 50px;
}

.purchased p {
  font-weight: bold;
}



#redeem-code-popover {
  width: 536px;
}

#redeem-code-popover .wizard-body {
  height: 150px;
}

#redeem-code-form .control-label {
  font-weight: bold;
  font-size: 100%;
}

.redeem-code.control-group {
  margin-top: 50px;
}

.redeemed .icon img {
  width: 96px;
  height: 96px;
}

.redeemed .message {
  margin-top: 6px;
  font-weight: bold;
}

#account-form .error-step,
#shop-form .error-step,
#redeem-code-form .error-step {
  width: 400px;
  margin: 24px 52px;
  
  .icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 10px 0 0;
    background-image: url('../img/error.png');
    background-repeat: no-repeat;
  }
  
  .info {
    float: left;
    max-width: 340px;
    
    p {
      margin: 0 0 4px;
    }
    
    .title {
      font-weight: bold;
    }
  }
}
